table{
    border: solid 1px lightgray;
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}
tr:first-child th{
	background-color: thistle;
	color: black;
    font: 2.5em sans-serif;
    padding: .6em;
}
tr:nth-child(2){
	background-color: #FFB3ED;
	color: black;
    font: 1.3em sans-serif;
    border: solid 1px lightgray;
    padding: 10px;
}
tr:nth-child(2) td:nth-child(1){
	background-color: thistle;
}
tr:nth-child(4){
    background-color: #FCE3F6;

}
td{
    border: solid 1px lightgray;
    font: 1.3em sans-serif;
    padding: 10px;

}
caption{
    caption-side: bottom;
    font: 1em sans-serif;
}