@media screen and (min-width: 32.5em){
    h1{
        font-size: 2rem;
    }
    header section{
        display: grid;
        grid-template-columns: 1fr 2fr;
        text-align: center;
    }
    nav{
        display: flex;
        justify-content: space-around;
    }
    
}