/*font-family: 'Manrope', sans-serif;
font-family: 'Vollkorn', serif;*/
/*blue: #22577A
teal: 38A3A5
green: 80ED99
gray: EDEDED*/
header{
    background-color: #EDEDED;
    color: #22577A;
    /*display: flex;*/
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
    margin-bottom: 2em;
    font-family: 'Vollkorn', serif;
}
nav ul{
    list-style: none;
}
nav button{
    margin: .3em;
    background-color: transparent;
    font-size: 2rem;
    color: #22577A;
}
nav ul li a{
    display: block;
    padding: .6rem;
    text-decoration: none;
    color: #22577A;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}
nav ul li a:hover{
    color: #EDEDED;
    background-color: #22577A;
}
nav ul{
    display: none;
}
nav ul.open{
    display: block;
    grid-column-start: 1;
    grid-column-end: 5;
}
#btntn span:nth-child(1){
    display: block;
}
#btn span:nth-child(2){
    display: none;
}
#btn.open span:nth-child(1){
    display: none;
}
#btn.open span:nth-child(2){
    display: inline;
}
.date{
    display: block;
    border: solid 2px #38A3A5;
    background-color: #80ED99;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
}
.logo{
    width: 100px;
}
.social{
    display: flex;
}
.social a img{
    border-radius: 50%;
}

/*Footer*/
footer{
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2em;
    color: #22577A;
    font-family: 'Vollkorn', serif;
}
footer iframe{
    width: fit-content;
    height: auto;
    padding-bottom: 0.8em;
}
#index{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*Hero*/
#hero-img{
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: 85%;
    border: solid 5px #22577A;
}
#hero-action{
    margin-top: -6em;
    position: relative;
    z-index: 2;
    color: #EDEDED;
    width: 100%;
}
#hero-action h3{
    text-shadow: 4px black;
    color: #EDEDED;
    background-color: #22577A;
    text-align: center;
}
#hero{
    width: 98.5%;
    justify-content: center;
    
}
h3{
    font-family: 'Vollkorn', serif
}
p{
    font-family: 'Manrope', sans-serif;
}
.button{
    border: solid 2px #38A3A5;
    background-color: #80ED99;
    text-align: center;
    padding: .4em;
}
.button a{
    text-decoration: none;
    color: #22577A;
}
#event{
    margin-top: 2em;
    background-color: #22577A;
    color: #EDEDED;
    max-width: 97%;
    padding: 1em;
}
#weather{
    margin-top: 1em;
    background-color: #22577A;
    padding: 2em;
    color: #EDEDED;
}
#news{
    margin-top: 1em;
    background-color: #22577A;
    color: #EDEDED;
    max-width: 97%;
    padding: 1em;

}
#join{
    margin-top: 1em;
    background-color: #22577A;
    color: #EDEDED;
    max-width: 97%;
    padding: 1em;
}
#spotlight{
    margin-top: 1em;
    background-color: #22577A;
    color: white;
    max-width: 97%;
    padding: 1em;
}
.spotlight-cards{
    background-color: #38A3A5;
    padding: .4em;
    border-top: 2px solid #EDEDED;
}
.spotlight-cards img{
    max-width: 50%;
}
.spotlight-cards:nth-child(1){
    padding-bottom: 2em;
    border-top: none;
}
.spotlight-cards:nth-child(3){
    padding-bottom: 1.5em
}
#banner{
    text-align: center;
    font-family: 'Vollkorn', serif;
    color: #38A3A5;
    padding-bottom: 1em;
}
/*Discover*/
#discover{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #22577A;
}
.gallery:hover{
    opacity: 75%;
    border: #38A3A5 solid 6px;
}
.discoverp{
    padding-bottom: 2em;
   max-width: 85%;
   margin: 0 auto;
}
.gallery{
    width: 100%;
}
/*Join*/
form fieldset{
    border: #22577A solid 2px;
    padding: 0.5em;
}
form legend{
    color: #22577A;
    /*margin: 0 1rem;*/
    padding: 0.5em;
    font-size: 2em;
}
form label{
    display: block;
    padding-top: 0.8em;
    font-family: 'Vollkorn', serif;
}
form .lab{
    display: block;
    font-family: 'Manrope', sans-serif;
    padding: 0.8em;
    width: 100%;
    max-width: 20rem;
}
form .radio{
    padding: 0.5em;
    font-family: 'Manrope', sans-serif;

}
form .radio input{
    padding: .5em;
}
.membership{
    padding-top: 0.8em;
    font-family: 'Vollkorn', serif;
    color: #22577A;
}
.buttonj{
    border: solid 2px #38A3A5;
    background-color: #80ED99;
    text-align: center;
    padding: .5em;
    width: 98%;
    max-width: 20rem;
    margin: .5rem 0 2rem 1%;
    font-family: 'Manrope', sans-serif;
    color: #22577A;
}
form label input:required{
    border-left: #22577A solid 5px;
}
#formdate{
    display: none;
}
.titleh2{
    text-align: center;
    color: #22577A;
    font-family: 'Vollkorn', serif;
    margin: 0 auto;
    padding: 1em;
}
.ty{
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    background-color: #80ED99;
}
table{
    border: solid 1px #EDEDED;
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}
tr:first-child th{
    background-color: #80ED99;
    color: #22577A;
    font: 2em sans-serif;
    padding: .5em;
}
tr:nth-child(2){
    background-color: #EDEDED;
    color: black;
    font: 1.3em sans-serif;
    border: solid 1px lightgray;
    padding: 10px;
}
td{
    border: solid 1px lightgray;
    font-family: 'Manrope', sans-serif;
    padding: 10px;
}

/*Directory*/
#business-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 0.2em;
    text-align: center;
    color: #EDEDED;
}
#business-cards section{
    margin: #EDEDED solid 2px;
    background-color: #22577A;
    padding: 0.5em;
}
#list{
    display: flex;
    flex-direction: column;
}
#dir-buttons{
    display: flex;
    flex-direction: row;
    margin: 1em;
    justify-content: center;
}