@media screen and (min-width: 32rem) {
    footer{
        display: grid;
        grid-template-columns: 1fr 3fr 3fr;
        padding-top: 1em;
    }
    footer section{
        justify-content: left;
        text-align: left;

    }
   footer iframe{
       justify-content: end;
   }
   footer img{
       justify-content: right;
       justify-self: end;
       width: 1fr;
   }
   footer div{
       grid-column-start: 1;
       grid-column-end: 6;
       border-top: 1px solid #38A3A5;
       padding-top: .5em;
   }
}